* {
  box-sizing: border-box;
}

.section {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation__beforeLine {
  background-color: #f9f8f6;
  border-bottom: 2px solid #ebe7e2;
  max-width: 1260px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px 20px 10px 20px;
}

.href__beforeLine {
  color: #257886;
  font-size: 15px;
  line-height: 1.5;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.column__beforeLine {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.circle__beforeLine {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  border: none;
  background-color: #d4c4bc;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  background-color: #fac92a;
}

.done {
  background-color: #99cc66;
}

.navigation__underline {
  background-color: #f9f8f6;
  border-top: 2px solid #ebe7e2;
  max-width: 1260px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  padding: 20px;
}

.navigation__underline--second {
  justify-content: space-between;
}

.next {
  background-color: rgba(239, 102, 27, 0.87);
  color: white;
  font-size: 15px;
  line-height: 18px;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background-color: #ff5f00;
  }
}

.prev {
  background-color: #d4b8a3;
  color: #512b2b;
  font-size: 15px;
  line-height: 18px;
  padding: 10px;
  border: 1px solid #d4b8a3;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background-color: #d7c2b8;
    border-color: #d4b8a3;
  }
}
